--- # Only the main Sass file needs front matter (the dashes are enough) search: false --- @charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



// @media (min-width: 64em; ) {
//     .archive {
//         float: right;
//         width: calc(100% - 200px);
//         padding-right: 200px;
//         padding: 0 3rem !important;
//     }
// }

.archive {
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0 3rem !important;

    @include breakpoint($large) {
        float: right;
        width: calc(100% - #{$right-sidebar-width-narrow});
        padding-right: $right-sidebar-width-narrow;
    }

    @include breakpoint($x-large) {
        width: calc(100% - #{$right-sidebar-width});
        padding-right: $right-sidebar-width;
    }
}